div.module{text-align: center;}
div.contentDiv {
    margin-top: 100px
}

.module-button {
    color: #fff;
    background-color: #61c2a6;   
    width: 250px;
    height: 50px;
    display: inline-block; 
    margin-bottom: 20px;
}

.btn-submit {
    color: #fff;
    background-color: #61c2a6;  
}
